@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
